<div class="wrapper__row events">
	<!-- Left Col -->
	<div class="flexColumn calendar">
		<span class="calendar__stiches calendar__stiches_left"></span>
		<span class="calendar__stiches calendar__stiches_right"></span>
		<div class="col flexRow calendarHeader">
			<span class="calendarHeader__month">Aug</span>
			<span class="calendarHeader__day">today 25th</span>
			<span class="calendarHeader__year">2014</span>
		</div>
		<div class="flexRow week">
			<span class="week__day">mon</span>
			<span class="week__day">tue</span>
			<span class="week__day">wed</span>
			<span class="week__day">thu</span>
			<span class="week__day">fri</span>
			<span class="week__day week__day_free">sat</span>
			<span class="week__day week__day_free">sun</span>
		</div>
		<div class="col flexColumn calendarDays">
			<div class="flexRow calendarDays__allDays">
				<span class="calendarDays__item calendarDays__item_other"><span class="calendarDays__itemNumber">30</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">1</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">2</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">3</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">4</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">5</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">6</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">7</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">8</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">9</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">10</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">11</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">12</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">13</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">14</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">15</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">16</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">17</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber_active">18</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">19</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">20</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">21</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">22</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">23</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">24</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">25</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">26</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">27</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">28</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">29</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">30</span></span>
				<span class="calendarDays__item"><span class="calendarDays__itemNumber">31</span></span>
				<span class="calendarDays__item calendarDays__item_other"><span class="calendarDays__itemNumber">1</span></span>
				<span class="calendarDays__item calendarDays__item_other"><span class="calendarDays__itemNumber">2</span></span>
				<span class="calendarDays__item calendarDays__item_other"><span class="calendarDays__itemNumber">3</span></span>
			</div>
			<div class="flexRow calendarDays__buttons">
				<a href="#" class="button">Add Event</a>
				<a href="#" class="button button_gray">See event list</a>
				<a href="#" class="button button_gray buttonNext"><img src="../img/nextarrow.png" alt=""></a>
			</div>
		</div>
	</div>
	<!-- RIght Col -->
	<div class="flexColumn eventsList">
		<div class="flexRow col eventsList__item eventsListItem">
			<img src="../img/posterImage.png" alt="" class="eventsListItem__poster">
			<div class="flexColumn eventsListItem__info">
				<span class="eventsListItem__title">Huge Party Event</span>
				<span class="eventsListItem__adress">@Wings Club, 12FEB AT 20:00PM</span>
				<div class="flexRow eventsListItem__buttons">
					<a href="#" class="button button_gray">See Event</a>
					<a href="#" class="button">Get Tickets</a>
				</div>
			</div>
		</div>
		<div class="flexRow col eventsList__item eventsListItem">
			<img src="../img/posterImage.png" alt="" class="eventsListItem__poster">
			<div class="flexColumn eventsListItem__info">
				<span class="eventsListItem__title">Huge Party Event</span>
				<span class="eventsListItem__adress">@Wings Club, 12FEB AT 20:00PM</span>
				<div class="flexRow eventsListItem__buttons">
					<a href="#" class="button button_gray">See Event</a>
					<a href="#" class="button">Get Tickets</a>
				</div>
			</div>
		</div>	
		<div class="flexRow col nextPrev">
  			<div class="nextPrev__item nextPrev__item_prev">Previous</div>
  			<div class="nextPrev__buttons">
  				<a href="#" class="nextPrev__button"></a>
  				<a href="#" class="nextPrev__button nextPrev__button_active"></a>
  				<a href="#" class="nextPrev__button"></a>
  				<a href="#" class="nextPrev__button"></a>
  			</div>
  			<div class="nextPrev__item nextPrev__item_next">Next</div>
      	</div>		
	</div>
</div>