<div class="wrapper__row files">
	<!-- Left Col -->
	<div class="flexColumn col col_border filesUpload">
		<span class="filesUpload__heading">Upload a file</span>
		<div class="filesUpload__dragArea dragArea">
			<img src="../img/uploadIcon.png" alt="" class="dragArea__logo">
			<span class="dragArea__text">Drag files here</span>
		</div>
		<div class="flexRow filesUpload__buttons">
			<a href="#" class="button">Browse file</a>
			<a href="#" class="button button_gray">Files list</a>
		</div>
	</div>
	<!-- Right Col -->
	<div class="col flexColumn filesStorage">
		<div class="flexRow filesStorage__header">
			<span class="filesStorage__headerText">Your files</span>
			<input type="text" class="input input_search" placeholder="Search...">
			<div class="filesStorage__headerIcons">
				<a href="#" class="filesStorage__headerIcon"><img src="../img/folderIcon.png" alt=""></a>
				<a href="#" class="filesStorage__headerIcon"><img src="../img/addFolderIcon.png" alt="" class="filesStorage__headerIcon"></a>
				<a href="#" class="filesStorage__headerIcon"><img src="../img/cloudDownloadIcon.png" alt="" class="filesStorage__headerIcon"></a>
			</div>
		</div>
		<div class="flexRow filesStorage__notification">
			<span class="filesStorage__notificationText">
				Successfully uploaded 2 files
			</span>
			<span class="filesStorage__notificationClose">
				X
			</span>
		</div>
		<div class="flexColumn filesStorage__filesFolder filesFolder">
			<div class="flexRow filesFolder__item filesFolder__item">
				<span class="filesFolder__itemName filesFolder__itemName_folder">Work Files</span>
				<span class="filesFolder__itemType">folder</span>
				<span class="filesFolder__itemSize"></span>
			</div>
			<div class="flexRow filesFolder__item">
				<span class="filesFolder__itemName">Freebie1.rar</span>
				<span class="filesFolder__itemType">archive</span>
				<span class="filesFolder__itemSize">84MB</span>
			</div>
			<div class="flexRow filesFolder__item">
				<span class="filesFolder__itemName">Holiday landscape</span>
				<span class="filesFolder__itemType">JPEG file</span>
				<span class="filesFolder__itemSize">5.16MB</span>
			</div>
			<div class="flexRow filesFolder__item">
				<span class="filesFolder__itemName">Plainee UI Kit</span>
				<span class="filesFolder__itemType">PSD file</span>
				<span class="filesFolder__itemSize">1.02GB</span>
			</div>
			<div class="flexRow filesFolder__item">
				<span class="filesFolder__itemName">Expenses - AUG</span>
				<span class="filesFolder__itemType">Exel file</span>
				<span class="filesFolder__itemSize">596KB</span>
			</div>
		</div>
	</div>
</div>