<div class="wrapper__row filesUploading">
	<!-- Left Col -->
	<div class="col flexColumn uploading">
		<span class="uploading__text">
			uploading...
		</span>
		<div class="flexRow uploading__file uploadingFile">
			<div class="uploadingFile__titles">
				<span class="uploadingFile__number">1</span>
				<span class="uploadingFile__name">Design Pr...</span>
				<span class="uploadingFile__size">(140MB)</span>			
			</div>
			<div class="progressLine__line progressLine__line_100percent"></div>
			<span class="uploadingFile__status">OK</span>
		</div>
		<div class="flexRow uploading__file uploadingFile">
			<div class="uploadingFile__titles">
				<span class="uploadingFile__number">2</span>
				<span class="uploadingFile__name">Picture 2...</span>
				<span class="uploadingFile__size">(662KB)</span>			
			</div>
			<div class="progressLine__line progressLine__line_25percent"></div>
			<span class="uploadingFile__status">25%</span>
		</div>
		<div class="flexRow uploading__file uploadingFile uploadingFile_last">
			<div class="uploadingFile__titles">
				<span class="uploadingFile__number">3</span>
				<span class="uploadingFile__name">School As...</span>
				<span class="uploadingFile__size">(147MB)</span>			
			</div>
			<div class="progressLine__line progressLine__line_83percent"></div>
			<span class="uploadingFile__status">83%</span>
		</div>
		<div class="uploading__dragArea dragArea flexRow">
			<img src="../img/uploadIcon.png" alt="" class="dragArea__logo">
			<span class="dragArea__text">Drag more files here</span>
		</div>	
	</div>
	<!-- RIght Col -->
	<div class="col flexColumn download">
		<div class="triangleBorder"></div>
		<img src="../img/fileIconBig.png" alt="" class="download__icon">
		<div class="download__item">
			<span class="download__name">Plainee UI Kit.rar</span>
			<span class="download__date">2 days ago</span>
		</div>
		<div class="download__area">
			<a href="#" class="button">Download</a>
			<span class="download__size">891MB</span>
		</div>
	</div>
</div>