<div class="headerAlt wrapper__row">
  <div class="col">
    <!-- Left -->
    <div class="profile">
      <a href="#" class="profile__link">
        <img src="../img/avatar.png" alt="" class="profile__img profile__img_small">
      </a>
      <div class="profile__info">
        <h4 class="profile__name">
          <a href="#" class="profile__namelink">Andrei Josan</a>
        </h4>
      </div>
    </div>
    <!-- Center -->
    <ul class="menu">
        <li class="menu__item"><a href="#" class="menu__a">Profile</a></li>
        <li class="menu__item"><a href="#" class="menu__a">Requests</a></li>
        <li class="menu__item"><a href="#" class="menu__a">Elements</a></li>
    </ul>
    <!-- Right -->
    <div class="icons">
      <input type="text" placeholder="Search..." class="input input_search">
      <div class="icons__item"><img src="../img/settingsIcon.png" alt=""></div>
      <div class="icons__item alertsIcon"><img src="../img/alertsIcon.png" alt=""></div>
      <div class="icons__item calendarIcon"><img src="../img/calendarIcon.png" alt=""></div>
    </div>
  </div>
</div>