<header class="header wrapper__row">
  <!-- Left col -->
  <div class="col flexRow">
      <ul class="menu">
          <li class="menu__item"><a href="#" class="menu__a">Profile</a></li>
          <li class="menu__item"><a href="#" class="menu__a success">Requests</a></li>
          <li class="menu__item"><a href="#" class="menu__a">Elements</a></li>
      </ul>
      <div class="status">
          <div class="status__item offline"></div>
          <div class="status__item online active">
            <span class="tooltip">Appear as online</span>
          </div>
      </div>
  </div>
  <!-- Right Col -->
  <div class="col flexRow">
    <div class="profile">
      <a href="#" class="profile__link">
        <img src="../img/avatar.png" alt="" class="profile__img">
      </a>
      <div class="profile__info">
        <p class="profile__log">
          logged in as
        </p>
        <h4 class="profile__name">
          <a href="#" class="profile__namelink">Andrei Josan</a>
        </h4>
      </div>
    </div>
    <div class="icons">
      <div class="icons__item"><img src="../img/settingsIcon.png" alt=""></div>
      <div class="icons__item alertsIcon"><img src="../img/alertsIcon.png" alt=""></div>
      <div class="icons__item calendarIcon"><img src="../img/calendarIcon.png" alt=""></div>
    </div>
  </div>
</header> 