<!DOCTYPE html>
<html>
<head>
    <link lang="en">
    <title>Plainee Ui Kit - HTML and CSS project | Built by Gulp</title>
    <meta name="description" content="This project was created as a layout, I will work on interactive elements using JavaScript in the nearest feature">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <script src="./js/main.js"></script>

</head>
<body>
    <div class="wrapper">
      //= logo.html
      //= header.html
      //= headerAlt.html
      //= logOrRegistration.html
      //= profileInfo.html
      //= video.html
      //= product.html
      //= shopping.html
      //= files.html
      //= filesUploading.html
      //= events.html
    </div>
</body>
</html>