<div class="logOrRegistration wrapper__row">
  <!-- Left col -->
  <div class="col col_border col_small">
    <p class="col__heading">
      Access account
    </p>
    <input type="text" class="input input_user">
    <input type="password" class="input input_password">
    <div class="buttons">
      <button class="buttons__item confirm">login</button>
      <p class="buttons__textBetween">Or</p>
      <a href="#" class="buttons__item sprite sprite_twitter"><span class="sprite sprite_twitter"></span></a>
      <a href="#" class="buttons__item sprite sprite_fb"><span class="sprite sprite_fb"></span></a>
    </div>
    <div class="textNotification">
      <a href="#">
        Forgot password
      </a>
      <a href="#">
        <span>Register</span> new account
      </a>
    </div>

  </div>
  <!-- Right Col -->
  <div class="col col_border col_big">
    <p class="col__heading">
      Register a new account
    </p>
    <div class="registrationRow">
      <input type="text" class="registrationRow__item input input_user" placeholder="desired username">
      <input type="email" class="registrationRow__item input input_email" placeholder="enter email adress">
    </div>
    <div class="registrationRow">
      <input type="password" class="registrationRow__item input input_password" placeholder="desired password">
      <input type="password" class="registrationRow__item input input_password" placeholder="&bull; &bull; &bull; &bull; &bull; &bull; &bull;">
    </div>   
    <div class="registrationRow progressLine">
      <span class="progressLine__name">
        Password strength
      </span>
      <span class="progressLine__score">
        <span class="success">77</span>/100
      </span>
      <div class="progressLine__line"></div>
    </div>   
    <div class="registrationRow">
      <div class="registrationRow__item registrationAgree">
        <p class="registrationAgree__text">
          <span class="checkbox registrationAgree__checkbox"></span>
          Registering means that you agree to our <span class="success">Terms of Service</span>   
        </p>
      </div>
      <button class="registrationRow__item buttons__item confirm">Register</button>
    </div>         
  </div>
</div>