<div class="product wrapper__row">
	<!-- Left Col -->
	<div class="col productMain flexColumn">
		<img src="../img/productMainImage.png" alt="hood" class="productMain__img">
		<div class="productInfo flexRow">
			<div class="productInfo__title">
				<p class="productInfo__name">WooCommerce Hood</p>
				<p class="productInfo__category">Streetwear / Hoodies</p>
			</div>
			<span class="productInfo__price button">49$</span>
		</div>
		<div class="productMain__buttons flexRow">
			<a href="#" class="productMain__cartButton button">Cart</a>
			<a href="#" class="productMain__wishlistButton button">Wishlist</a>
		</div>
	</div>
	<!-- Right Col -->
	<div class="flexColumn productSelling">
		<!-- productMainAlt -->
		<div class="flexRow productMainAlt">
			<img src="../img/productAltImage.png" alt="product" class="productMainAlt__image">
			<div class="col productMainAlt__fullInfo flexColumn">
				<div class="productInfo flexRow">
					<div class="productInfo__title">
						<p class="productInfo__name">WooCommerce Hood</p>
						<p class="productInfo__category">Streetwear / Hoodies</p>
					</div>
					<span class="productInfo__price button">49$</span>
				</div>
				<p class="productMainAlt__text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quidem ea, mollitia. Assumenda tenetur ad doloremque voluptate itaque, iusto magnam nisi.
				</p>
				<div class="productMainAlt__rating flexRow">
					<span class="productMainAlt__ratingText">3 reviews from customers</span>
					<div class="productMainAlt__ratingStars">
						<img src="../img/star.png" alt="">
						<img src="../img/star.png" alt="">
						<img src="../img/star.png" alt="">
						<img src="../img/star.png" alt="">
						<img src="../img/starHalf.png" alt="">
					</div>
				</div>
				<div class="productMainAlt__buy flexRow">
					<div class="quantity flexRow">
						<a href="#" class="quantity__minus"><img src="../img/minusIcon.png" alt=""></a>
						<span class="quantity__number">2</span>
						<a href="#" class="quantity__plus"><img src="../img/plusqIcon.png" alt=""></a>
					</div>
					<a href="#" class="button">Add to cart</a>
				</div>
			</div>			
		</div>
		<!-- On Sale -->
		<div class="col flexRow onSale">
			<span class="onSale__text">On Sale</span>
			<img src="../img/onsale1.png" alt="" class="onsale__product">
			<img src="../img/onsale2.png" alt="" class="onsale__product">
			<img src="../img/onsale3.png" alt="" class="onsale__product">
			<img src="../img/onsale4.png" alt="" class="onsale__product">
			<img src="../img/onsale5.png" alt="" class="onsale__product">
		</div>
	</div>
</div>