<div class="mainInfo wrapper__row">
	<!-- Left Col -->
	<div class="col col_border skills">
		<p class="col__heading">
    	  My Skills
    	</p>
    	<div class="progressLine">
			<span class="progressLine__name">
			Photoshop
			</span>
			<span class="progressLine__score">
			<span class="success">90%</span>
			</span>
			<div class="progressLine__line photoshop"></div>
    	</div> 
    	<div class="progressLine">
    		<span class="progressLine__name">
    		    Illustrator
    		</span>
    		<span class="progressLine__score">
    		    <span class="success">65%</span>
    		</span>    	  
    		<div class="progressLine__line illustrator"></div>
    	</div> 
    	<div class="progressLine">
			<span class="progressLine__name">
			HTML & CSS
			</span>
			<span class="progressLine__score">
			<span class="success">75%</span>
			</span>
			<div class="progressLine__line html"></div>
    	</div> 
    	<div class="progressLine">
			<span class="progressLine__name">
			PHP
			</span>
			<span class="progressLine__score">
			<span class="success">40%</span>
			</span>
			<div class="progressLine__line php"></div>
    	</div> 
	</div>
	<!-- Center Col -->
	<div class="col col_border mainName">
		<div class="mainName__imgBorder">
			<img src="../img/mainNameImage.png" alt="profile image" class="mainName__img">
			<div class="status__item online active"></div>
		</div>		
		<p class="mainName__name success">Andrei Josan</p>
		<p class="mainName__work">web & UI/UX designer</p>
    	<div class="buttons">
    	  <a href="#" class="buttons__item sprite sprite_twitter"><span class="sprite sprite_twitter"></span></a>
    	  <a href="#" class="buttons__item sprite sprite_fb"><span class="sprite sprite_fb"></span></a>
    	  <a href="#" class="buttons__item sprite sprite_google"><span class="sprite sprite_google"></span></a>
    	  <a href="#" class="buttons__item sprite sprite_plus"><span class="sprite sprite_plus"></span></a>    	  
    	</div>
    	<span class="mainName__follow success">
    		+follow
    	</span>		
	</div>
	<!-- Right Col -->
	<div class="col profileStatistics">
		<div class="col nextPrev">
			<div class="nextPrev__item nextPrev__item_prev">Previous</div>
			<div class="nextPrev__item nextPrev__item_next">Next</div>
		</div>
		<div class="col profileSubscribe">
			<div class="profile">
				<a href="#" class="profile__link">
					<img src="../img/mainNameImage.png" alt="" class="profile__img">
				</a>
				<div class="profile__info">
					<h4 class="profile__name">
					  <a href="#" class="profile__namelink">Andrei Josan</a>
					</h4>
					<div class="profile__subscribe">
						<a href="#" class="button">Subscribe</a>
						<span class="profile__subscribeScore">624</span>
					</div>				
				</div>
			</div>
		</div>	
		<div class="col profileShares">
			<div class="profile">
				<a href="#" class="profile__link">
					<img src="../img/mainNameImage.png" alt="" class="profile__img">
				</a>
				<div class="profile__info">
					<h4 class="profile__name">
					  <a href="#" class="profile__namelink">Andrei Josan</a>
					</h4>
					<div class="profile__adress">
						Bucharest, Romania
					</div>				
				</div>
			</div>
			<div class="profileSharesNumbers">
				<div class="profileSharesNumbers__item">
					<span class="profileSharesNumbers__number success">245</span>
					<span class="profileSharesNumbers__text">friends</span>
				</div>
				<div class="profileSharesNumbers__item">
					<span class="profileSharesNumbers__number success">7654</span>
					<span class="profileSharesNumbers__text">views</span>
				</div>
				<div class="profileSharesNumbers__item">
					<span class="profileSharesNumbers__number success">809</span>
					<span class="profileSharesNumbers__text">likes</span>
				</div>				
			</div>
		</div>
	</div>	
</div>