<div class="shopping wrapper__row">
	<!-- Left Col -->
	<div class="shoppingCart flexColumn">
		<div class="col shoppingCartBefore flexRow">
			<a href="#"  class="shoppingCartBefore__text">Shopping cart (5)</a>
			<a href="#" class="shoppingCartBefore__checkout">Checkout</a>
		</div>
		<div class="col shoppingCartItems flexColumn">
			<div class="productInfo flexRow">
				<img src="../img/onsale1.png" alt="" class="productInfo__img">
				<div class="productInfo__title">
					<p class="productInfo__name">Nickel Creek - Love of...</p>
					<p class="productInfo__category">Music / Song</p>
				</div>
				<span class="productInfo__quantity">1x</span>
				<span class="productInfo__price button">19$</span>
			</div>
			<div class="productInfo flexRow">
				<img src="../img/onsale2.png" alt="" class="productInfo__img">
				<div class="productInfo__title">
					<p class="productInfo__name">Bon Iver - Blood Bank</p>
					<p class="productInfo__category">Music / Albums</p>
				</div>
				<span class="productInfo__quantity">1x</span>
				<span class="productInfo__price button">20$</span>
			</div>
			<div class="productInfo flexRow">
				<img src="../img/onsale5.png" alt="" class="productInfo__img">
				<div class="productInfo__title">
					<p class="productInfo__name">WooCommerce Hood</p>
					<p class="productInfo__category">Streetwear / Hoodies</p>
				</div>
				<span class="productInfo__quantity">1x</span>
				<span class="productInfo__price button">49$</span>
			</div>
			<div class="totalPay flexRow">
				<span class="totalPay__text">Total Pay</span>
				<span class="totalPay__price button">158$</span>
			</div>
		</div>		
	</div>
	<!-- Right Col -->
	<div class="productBigWrapper flexColumn">
		<div class="productBig flexRow">
			<div class="productBigImage">
				<img src="../img/productBig.jpg" alt="">
			</div>
			<div class="col productBigInfo flexColumn">
				<span class="productInfo__price button">49$</span>
				<span align="center" class="productInfo__name">WooCommerce Hoodie</span>
				<span class="productInfo__category">Streetwear / Hoodies</span>				
				<div class="productBigInfo__ratingStars">
					<img src="../img/star.png" alt="">
					<img src="../img/star.png" alt="">
					<img src="../img/star.png" alt="">
					<img src="../img/star.png" alt="">
					<img src="../img/starHalf.png" alt="">
				</div>
				<a href="#" class="button productBigInfo__cartButton">Cart</a>
				<a href="#" class="button productBigInfo__wishlistButton">Wishlist</a>
			</div>
		</div>
		<div class="col flexColumn priceFilter">
			<div class="progressLine">
				<div class="progressLine__line">
					<div class="progressLine__lineWithBorder">
						<span class="progressLine__border progressLine__border_right"></span>
						<span class="progressLine__border progressLine__border_left"></span>
					</div>
				</div>
			</div>
			<div class="flexRow priceItems">
				<span class="priceItems__minPrice">0$</span>
				<span class="priceItems__maxPrice">2000$</span>
			</div>
		</div>
	</div>
</div>