<div class="video wrapper__row">
	<!-- Left Col -->
	<div class="col videoPlayer">
		<div class="videoItem">
			<img src="../img/videoBg.jpg" alt="" class="videoItem__bg">
			<div class="buttons">
				<a href="#" class="buttons__item active"><i class="fa fa-plus" aria-hidden="true"></i></a>
				<a href="#" class="buttons__item"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="#" class="buttons__item"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#" class="buttons__item"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			</div>
			<img src="../img/replayIcon.png" alt="" class="videoItem__replay">
		</div>
		<div class="videoControllers">
			<div class="progressLine video">
				<img src="../img/playIcon.png" alt="play" class="progressLine__icon">
				<div class="progressLine__line">
					<div class="tooltip">3:12</div>
				</div>
				<div class="progressLine__scores">
					<span class="progressLine__number left">2:30</span>
					<span class="progressLine__number">/</span>
					<span class="progressLine__number full">4:58</span>					
				</div>
			</div>
			<div class="progressLine volume">
				<img src="../img/volumeIcon.png" alt="volume" class="progressLine__icon">
				<div class="progressLine__line"></div>
			</div>	
			<span class="format">HD</span>	
			<img src="../img/expandIcon.png" alt="volume" class="expand">
		</div>
	</div>
	<!-- Right Col -->
	<div class="videoList">
		<div class="col currentVideo">
			<div class="currentVideo__text">
				<p class="currentVideo__info">Now playing</p>
				<p class="currentVideo__title">Great video of the...</p>
			</div>
			<div class="currentVideo__controllers">
				<img src="../img/previousVideoIcon.png" alt="prev" class="currentVideo__prev">
				<img src="../img/nextVideoIcon.png" alt="next" class="currentVideo__next">
			</div>
		</div>
		<div class="quantityOfVideos">
			<span class="quantityOfVideos__text">Videos in this playlist:</span>
			<span class="quantityOfVideos__number success">(13)</span>
		</div>
		<div class="col videoListItems">
			<div class="videoListItems__item">
				<span class="videoListItems__title">Cat videos everywhere</span>
				<span class="videoListItems__duration">8:27</span>
				<img src="../img/durationIcon.png" alt="watch later" class="videoListItems__durationIcon">
			</div>
			<div class="videoListItems__item">
				<span class="videoListItems__title">Flat design explained in a...</span>
				<span class="videoListItems__duration">5:00</span>
				<img src="../img/durationIcon.png" alt="watch later" class="videoListItems__durationIcon">
			</div>
			<div class="videoListItems__item">
				<span class="videoListItems__title">Top videos currently You...</span>
				<span class="videoListItems__duration">21:58</span>
				<img src="../img/durationIcon.png" alt="watch later" class="videoListItems__durationIcon">
			</div>
			<div class="videoListItems__item">
				<span class="videoListItems__title">Travelling to Romania</span>
				<span class="videoListItems__duration">1:40</span>
				<div class="videoListItems__durationIcon forTootip">
					<img src="../img/durationIcon.png" alt="watch later">
					<div class="tooltip">Watch Later</div>
				</div>
			</div>
			<div class="progressLine__line"></div>
		</div>
	</div>
</div>