.currentVideo {
	display: flex;
	flex-flow: row no-wrap;
	justify-content: space-between;
	padding: 15px 20px;
	&__text {
		flex: 0 1 75%;
	}
	& p {
		margin:0;
	}
	&__info {
		font-size: 16px;
		color: rgb(140, 156, 147);
		font-weight: bold;
		line-height: 1.571;
		text-transform: uppercase;
	}
	&__title {
		font-size: 16px;
		color: #233328;
		font-weight: bold;
		line-height: 1.571;
	}
	&__controllers {
		flex: 0 1 calc(25%);
		& > * {
			cursor: pointer;
		}
	}
	&__prev {
		margin-right: 25px;
	}
}