.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	&__row {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 20px;
	}
}

.flexRow {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	& > * {
		width: 100%;
		flex: 0 1 auto;
	}
}

@media screen and (min-width: 900px) {
	.wrapper {
		padding: 0 0;
		&__row {
			align-items: stretch;
		}
	}
}	