.onSale {
	padding: 25px 20px;
	&__text {
		flex: 0 1 100%;
		text-align: center;
		font-size: 24px;
		color: rgb(1, 20, 7);
		font-weight: bold;
		line-height: 0.75;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 700px) {
	.onSale {
		&__text {
			flex: 0 1 auto;	
			margin-bottom: 0px;
		}
	}
}	