@import "mixins.scss";

.tooltip {
  display: none;
	width: 134px;
  background-color: $success;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0px;
  position: absolute;
  z-index: 1;
  bottom: 145%;
  left: 50%;
  margin-left: -67px;
  &::after {
  	content:'';
  	position: absolute;
  	top: 100%;
  	left: 50%;
  	border-width: 5px;
  	margin-left: -5px;
  	border-style: solid;
  	border-color: $success transparent transparent transparent;
  }
}

@media screen and (min-width: 1024px) {
  .tooltip {
    display: block;
  }
};